# ========================================
# ROOT
# ========================================

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Environment
.env
*.env

# IDE
.idea/
.vscode/

# ========================================
# BACKEND
# ========================================

sifipro-backend/target/

# ========================================
# PLATFORM API
# ========================================

sifipro-platform-api/target/

# ========================================
# FRONTEND
# ========================================

sifipro-frontend/node_modules/
sifipro-frontend/dist/

# ========================================
# PLATFORM UI
# ========================================

sifipro-platform-ui/node_modules/
sifipro-platform-ui/dist/

# ========================================
# DOCKER
# ========================================

docker-data/